.post {
    background: #EDF7FA;
    padding: 7px 0 32px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2px;
}

.post_h {
    font-family: var(--h);
    font-size: 22px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
    color: var(--dark);
}

.view {
    font-family: var(--h);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: right;
    color: var(--blue);
    align-self: center;
}

.post_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.post_box {
    padding: 24px 21px 7px 23px;
    background: var(--w);
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
    max-width: 418px;
    min-height: 295px;
}

.post_box-h {
    font-family: var(--h);
    font-size: 26px;
    font-weight: 700;
    line-height: 38px;
    text-align: left;
    color: var(--dark);
    margin-bottom: 17px;
}

.post_box_data {
    font-family: var(--h);
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: var(--dark);
    margin-bottom: 21px;
}

.post_box-line {
    margin: 0 24px 0 24px;
}

.post_box-p {
    font-family: var(--h);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--dark);
}

@media screen and (max-width:780px) {
    .post_wrap {
        flex-direction: column;
        gap: 17px;
    }
}

@media screen and (max-width:450px) {
    .view {
        display: none;
    }

    .post_h {
        font-size: 18px;
    }

    .title {
        justify-content: center;
    }

    .post_box-h {
        font-size: 22px;
        line-height: 30px;
    }

    .post_box_data {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width:340px) {
    .post_box-line {
        margin: 0 20px 0 20px;
    }
}